body{
    background-color: #eafadd;
}

h1{
    color: blueviolet;
    font-family: 'Times New Roman';
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}

p{
    color: #555555;
    font-family: Verdana;
    text-align: justify;
}