/* *{
    margin: 0;
    padding: 0;
}

h1,h3,h2{
    color: red;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

h3{
    font-size: 1.12em;
}

p{
    color: black;
} */

/* Selecciona todos los elementos <span> de la pagina que se encuentren dentro de un elemento <p> */
p a span em{text-decoration: underline;}
h1 span{color: blue;}

p * a{
    color: aqua;
}

/* Selector para un solo parrafo */
.destacado{
    color: red;
}