/* Todos los elementos de la pagina */
*{font: len/1.3 Arial, Helvetica, sans-serif;}

/* Todos los parrafos de la pagina */
p{color: #555;}

/* Solo los parrafos contenidos en #primero */
#primero p{color: #336699;}

/* Todos los enlaces de la pagina */
a {color: #cc3300;}

/* Los elementos em contenidos en #primero */
#primero em {background: #FFFFCC; padding: .1em;}

/* Todos los elementos em de tipo especial en toda la pagina*/
em.especial {background-color: #FFCC99; border: 1px solid #FF9900; padding: .1em; }

/* Elementos span contenidos en .normal */
.normal span { font-weight: bold;}
